# GRIP: THE SPARKS FOUNDATION

## DATASCIENCE AND BUSINESS ANALYTICS INTERN

#### Author- MAYANK SINHA

### TASK : EXPLORATORY DATA  ANALYSIS - GLOBAL TERRORISM

###  Problem Statement:  As a security/defense analyst, try to find out the hot zone of terrorism.
### what all security issues and insights you can derive by EDA?


 #### Importing required libraries

In [4]:
import pandas as pd
import numpy as np

####  Load the dataset

In [5]:
terr_dataset=pd.read_csv("C:/Users/Mayank PC/Desktop/globalterrorismdb_0718dist.csv",encoding = "ISO-8859-1")
terr_dataset.head()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_17152\1442580817.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  terr_dataset=pd.read_csv("C:/Users/Mayank PC/Desktop/globalterrorismdb_0718dist.csv",encoding = "ISO-8859-1")

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
terr_dataset.shape

(181691, 135)

#### listing out all the column names after converting it into a list

In [6]:
print("Column Names in Terrorism DataSet:\n")
for i in terr_dataset.columns.tolist():
    print(i)

Column Names in Terrorism DataSet:

eventid
iyear
imonth
iday
approxdate
extended
resolution
country
country_txt
region
region_txt
provstate
city
latitude
longitude
specificity
vicinity
location
summary
crit1
crit2
crit3
doubtterr
alternative
alternative_txt
multiple
success
suicide
attacktype1
attacktype1_txt
attacktype2
attacktype2_txt
attacktype3
attacktype3_txt
targtype1
targtype1_txt
targsubtype1
targsubtype1_txt
corp1
target1
natlty1
natlty1_txt
targtype2
targtype2_txt
targsubtype2
targsubtype2_txt
corp2
target2
natlty2
natlty2_txt
targtype3
targtype3_txt
targsubtype3
targsubtype3_txt
corp3
target3
natlty3
natlty3_txt
gname
gsubname
gname2
gsubname2
gname3
gsubname3
motive
guncertain1
guncertain2
guncertain3
individual
nperps
nperpcap
claimed
claimmode
claimmode_txt
claim2
claimmode2
claimmode2_txt
claim3
claimmode3
claimmode3_txt
compclaim
weaptype1
weaptype1_txt
weapsubtype1
weapsubtype1_txt
weaptype2
weaptype2_txt
weapsubtype2
weapsubtype2_txt
weaptype3
weaptype3_txt
weapsubtype3
weapsubtype3_txt
weaptype4
weaptype4_txt
weapsubtype4
weapsubtype4_txt
weapdetail
nkill
nkillus
nkillter
nwound
nwoundus
nwoundte
property
propextent
propextent_txt
propvalue
propcomment
ishostkid
nhostkid
nhostkidus
nhours
ndays
divert
kidhijcountry
ransom
ransomamt
ransomamtus
ransompaid
ransompaidus
ransomnote
hostkidoutcome
hostkidoutcome_txt
nreleased
addnotes
scite1
scite2
scite3
dbsource
INT_LOG
INT_IDEO
INT_MISC
INT_ANY
related

##### when looked into the data, found certain column and its data which are missing or irrelevant.
#### Creating a new dataset from the exisitng one, with non empty features for analysis, 
#### selected 14 of the columns which made sense

In [16]:
terr_dataset_final =terr_dataset[['iyear','imonth','iday','country_txt','region_txt','city','attacktype1_txt',
                                  'targtype1_txt','target1','weaptype1_txt','nkill','nwound','gname','summary']]
terr_dataset_final.rename(columns={"iyear":"Year",
                                   "imonth":"Month",
                                   "iday":"Day",
                                   "country_txt":"Country",
                                   "region_txt":"Region",
                                   "attacktype1_txt":"Attacktype",
                                   "targtype1_txt":"target_type",
                                   "target1":"target",
                                   "weaptype1_txt":"Weapon_type",
                                   "nkill":"No_of_Killed",
                                   "nwound":"No_of_Wounded",
                                   "gname":"Group"},inplace=True)
terr_dataset_final.sample(6)

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\219009649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final.rename(columns={"iyear":"Year",

,Year,Month,Day,Country,Region,city,Attacktype,target_type,target,Weapon_type,No_of_Killed,No_of_Wounded,Group,summary
37205,1989,2,14,India,South Asia,Senapani,Hostage Taking (Kidnapping),Transportation,3 Employees,Firearms,0.0,0.0,Bodo Militants,NaN
114191,2013,2,3,Yemen,Middle East & North Africa,Unknown,Armed Assault,Military,Patrol,Explosives,2.0,0.0,Separatists,02/03/2013: Gunmen attacked a Yemeni military ...
147138,2015,4,23,Kenya,Sub-Saharan Africa,Mandera,Assassination,Government (General),Chief: Muktar Otieno,Firearms,1.0,0.0,Al-Shabaab,04/23/2015: Assailants abducted a traditional ...
109663,2012,7,25,Ireland,Western Europe,Suncroft,Bombing/Explosion,Private Citizens & Property,Civilian,Explosives,0.0,0.0,Unknown,07/25/2012: An explosive device detonated in S...
153594,2015,9,29,Israel,Middle East & North Africa,Ashdod,Bombing/Explosion,Private Citizens & Property,City,Explosives,0.0,0.0,Sheikh Omar Hadid Brigade,09/29/2015: Assailants fired a rocket that was...
65936,1997,7,10,Russia,Eastern Europe,Nazran,Hostage Taking (Kidnapping),Private Citizens & Property,Dusan Kolac,Firearms,0.0,0.0,Unknown,NaN

In [17]:
terr_dataset_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Year           181691 non-null  int64
 1   Month          181691 non-null  int64
 2   Day            181691 non-null  int64
 3   Country        181691 non-null  object
 4   Region         181691 non-null  object
 5   city           181257 non-null  object
 6   Attacktype     181691 non-null  object
 7   target_type    181691 non-null  object
 8   target         181055 non-null  object
 9   Weapon_type    181691 non-null  object
 10  No_of_Killed   171378 non-null  float64
 11  No_of_Wounded  165380 non-null  float64
 12  Group          181691 non-null  object
 13  summary        115562 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 19.4+ MB

In [14]:
terr_dataset_final.describe()

,Year,Month,Day,No_of_Killed,No_of_Wounded
count,181691.000000,181691.000000,181691.000000,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,2.403272,3.167668
std,13.259430,3.388303,8.814045,11.545741,35.949392
min,1970.000000,0.000000,0.000000,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,2.000000,2.000000
max,2017.000000,12.000000,31.000000,1570.000000,8191.000000

NameError: name 'terr_dataset_final' is not defined

#### Data Cleaning

In [18]:
terr_dataset_final.isnull().sum()

Year                 0
Month                0
Day                  0
Country              0
Region               0
city               434
Attacktype           0
target_type          0
target             636
Weapon_type          0
No_of_Killed     10313
No_of_Wounded    16311
Group                0
summary          66129
dtype: int64

In [23]:
# Missing values fill -
# 1. No of Killed =
terr_dataset_final['No_of_Killed'].head()

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: No_of_Killed, dtype: float64

In [24]:
terr_dataset_final['No_of_Killed']=terr_dataset_final['No_of_Killed'].fillna(0)
terr_dataset_final['No_of_Killed'].head()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\780883862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final['No_of_Killed']=terr_dataset_final['No_of_Killed'].fillna(0)

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: No_of_Killed, dtype: float64

In [25]:
terr_dataset_final.isnull().sum()

Year                 0
Month                0
Day                  0
Country              0
Region               0
city               434
Attacktype           0
target_type          0
target             636
Weapon_type          0
No_of_Killed         0
No_of_Wounded        0
Group                0
summary          66129
dtype: int64

In [22]:
#2. No_of_Wounded 
terr_dataset_final['No_of_Wounded']=terr_dataset_final['No_of_Wounded'].fillna(0)
terr_dataset_final.isnull().sum()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\4282510678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final['No_of_Wounded']=terr_dataset_final['No_of_Wounded'].fillna(0)

Year                 0
Month                0
Day                  0
Country              0
Region               0
city               434
Attacktype           0
target_type          0
target             636
Weapon_type          0
No_of_Killed         0
No_of_Wounded        0
Group                0
summary          66129
dtype: int64

In [26]:
terr_dataset_final['target']=terr_dataset_final['target'].fillna("Not Known")
terr_dataset_final.isnull().sum()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\3244520832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final['target']=terr_dataset_final['target'].fillna("Not Known")

Year                 0
Month                0
Day                  0
Country              0
Region               0
city               434
Attacktype           0
target_type          0
target               0
Weapon_type          0
No_of_Killed         0
No_of_Wounded        0
Group                0
summary          66129
dtype: int64

In [27]:
terr_dataset_final['summary']=terr_dataset_final['summary'].fillna("Not Known")
terr_dataset_final.isnull().sum()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\2254105189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final['summary']=terr_dataset_final['summary'].fillna("Not Known")

Year               0
Month              0
Day                0
Country            0
Region             0
city             434
Attacktype         0
target_type        0
target             0
Weapon_type        0
No_of_Killed       0
No_of_Wounded      0
Group              0
summary            0
dtype: int64

In [18]:
terr_dataset_final.shape

(181691, 14)

In [29]:
terr_dataset_final['city']=terr_dataset_final['city'].fillna("Unlocated")
terr_dataset_final.isnull().sum()

C:\Users\Mayank PC\AppData\Local\Temp\ipykernel_14372\2866402161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terr_dataset_final['city']=terr_dataset_final['city'].fillna("Unlocated")

Year             0
Month            0
Day              0
Country          0
Region           0
city             0
Attacktype       0
target_type      0
target           0
Weapon_type      0
No_of_Killed     0
No_of_Wounded    0
Group            0
summary          0
dtype: int64

In [30]:
terr_dataset_final.duplicated().sum()

9662

In [31]:
# since we have 9662 duplicate values we can drop them
terr_dataset_final=terr_dataset_final.drop_duplicates()

In [33]:
terr_dataset_final.shape

(172029, 14)

In [35]:
#checking number of unique values in each column
terr_dataset_final.nunique()

Year                 47
Month                13
Day                  32
Country             205
Region               12
city              36675
Attacktype            9
target_type          22
target            86007
Weapon_type          12
No_of_Killed        205
No_of_Wounded       238
Group              3537
summary          112493
dtype: int64

In [37]:
terr_dataset_final.to_csv(r"C:\Users\Mayank PC\Desktop\cleaned_data.csv")